
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Kaushan+Script&display=swap");


:root {
  --clr-dark: #2B2B2B;
  --clr-dark2:#424242;
  --clr-grey: #abacad;
  --clr-grey2: #D2D2D2;
  --clr-black: #222;
  --ff-primary: "Open Sans", sans-serif;
  --ff-heading: 'Kaushan Script', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/**************************** general *****************************/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-dark);
  color: var(--clr-grey);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-heading);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/***************************** Header ********************************/
.header{
  box-shadow: 2px 5px 3px 0 rgba(0,0,0,.5);
  margin: 0 auto;
  background: var(--clr-dark2);
  padding: 10px 0;
  margin-bottom: 35px;
  text-align: center;
  color: white;
}

/*************************** container ******************************/
.container{
  max-width: 1280px;
  margin: auto;
}


.drinks-container {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  padding: 5rem 0;
}
@media screen and (min-width: 576px) {
  .drinks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .drinks-container {
    width: 95vw;
  }
}
/**************************** loading ******************************/
.loading {
  display: grid;
  justify-content: center;
  position: fixed;
  top: 255px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-dark);
  z-index: 2;
}

.hide-loading {
  display: none;
}

/******************** Search form ************************************/
.search-form {
  text-align: center;
  padding-top: 5rem;
  width: 85vw;
  max-width: 500px;
  margin: 0 auto;
  background: var(--clr-dark2);
  box-shadow: 2px 5px 3px 0 rgba(0,0,0,.5);
  padding: 20px;
  border-radius: var(--radius);
}

.form-control input {
  width: 100%;
  font-size: 1rem;
  border-color: transparent;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color:#868686;
  outline-color: var(--clr-grey2);
  color: white;
  border-radius: var(--radius);
}
input::placeholder {
  text-transform: capitalize;
  color: var(--clr-grey);
}

/**************************  drink article *********************/
.title {
  font-size: 2rem;
  text-align: center;
}

.drink {
  background: var(--clr-grey2);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 3rem;
  position: relative;
  cursor: pointer;
}
.drink:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.005);
}
.drink img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  border: 10px solid var(--clr-grey2);
  transition: var(--transition);
  height: 268px;
  object-fit: cover;
}
.drink:hover img {
  filter: blur(2px) grayscale(50%);
}
.drink-title{
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  background: var(--clr-black);
  opacity: .85;
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: var(--radius);
  margin-right: -1rem;
}
.drink-title h3 {
  color: white;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
  display: inline;
  
}

.drink-title span{
  font-size: 11px;
  color: #ccc;
  letter-spacing: 2px;
}
.no-data{
  text-align: center;
  grid-column: 1/-1;
}


/*************************** details page ************************/
.details-page{
  width: 95vw;
  margin: auto;
}
.details-page h2{
  text-align: center;
  margin: 4rem 0 2rem;
}
.details{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  align-items: center;
}
.details img{
  display: block;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.details p{
  line-height: 1.8;
}
.details-title{
  color: white;
  margin-right: 1rem;
  padding: 5px;
  border-radius: 3px;
  background-color: var(--clr-dark2);
}
.btn-back{
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: white;
  background-color: var(--clr-black);
  border: 2px solid var(--clr-dark2);
  padding: .45rem .8rem;
  padding: .45rem .8rem;
  font-size: .8rem;
  display: inline-block;
  border-radius: var(--radius);
  transition: var(--transition);
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}
.btn-back:hover{
  color: var(--clr-grey);
  background-color: var(--clr-dark2);
}
.details-page .drinks-container{
  padding-top:1rem;
}

.visited-drinks{
  padding-top: 4rem;
  border-top: 1px solid;
}


/**************************** Filters ***************************/
.filters-category{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: 1rem auto 0;
}
.filter-item{
 text-align: center;
 padding: 5px; 
}
.filter-item input{
  cursor: pointer;
}
.filter-item label{
  cursor: pointer;
  padding: 5px;
}
.filters-alcohol{
  position: absolute;
  margin-top: 1rem;
  transform: translateX(-30%);
}
.filters-alcohol input{
  transform: rotateZ(-90deg);
  cursor: pointer;
}
.filters-alcohol label{
  margin-left: -35%;
}


/************************ quick view *************************/
.quick-view-btn{
  width: 40px;
  height: 40px;
  background: url('zoom.png');
  background-color: transparent;
  position: absolute;
  background-size: cover;
  z-index: 2;
  border: none;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 4px 1px var(--clr-grey2);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s linear .5s, background-color 0.6s linear;
  opacity: 0;
}
.quick-view-btn:hover{
  background-color: var(--clr-dark2);
}
.drink:hover .quick-view-btn{
  opacity: 1;
}
.quick-view{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  overflow-y: scroll;
}
.quick-view-drink{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 850px;
  justify-content: center;
  align-items: center;
  background: var(--clr-dark2);
  margin: auto;
  transform: translateY(2rem);
  border-radius: 8px;
}
.quick-view-drink img{
  display: block;
  width: 95%;
  max-width: 700px;
  border-radius: 8px;
}
.quick-info{
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2rem;
}
.quick-info p{
  text-align: center;
}
.view-close{
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition);
}
.view-close:hover{
  color: white;
  
}